<h2>RealEstates</h2>
    <p>
        <a *ngIf="isLoggedIn"  [routerLink]="['/realestates/new']" class="btn btn-primary" >New Real Estate</a>
    </p>
    
    <div class="well">
        <div class="form-group">
            <label for="cladding"> Cladding</label>
            <select id="cladding" class="form-control" [(ngModel)]="query.claddingId" (change)="onFilterChange()">
                <option value=""></option>
                <option *ngFor="let c of claddings" value="{{ c.id }}">{{ c.name }}</option>
            </select>
            <button class="btn btn-default" (click)="resetFilter()">Reset</button>
        </div>
    </div>

<table class="table">
    <thead>
      <tr>
        <th *ngFor="let c of columns">
          <div *ngIf="c.isSortable" (click)="sortBy(c.key)">
            {{ c.title }}
            <i *ngIf="query.sortBy === c.key" 
              class="fa"
              [class.fa-sort-asc]="query.isSortAscending"
              [class.fa-sort-desc]="!query.isSortAscending"
            ></i>
          </div>
          <div *ngIf="!c.isSortable">
            {{ c.title }}
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let r of queryResult.items">
        <td>{{ r.id }}</td>
        <td>{{ r.cladding.name }}</td>
        <td>{{ r.level }}</td>
        <td>{{ r.address }}</td>
        <td>
          <a [routerLink]="['/realestates/', r.id]">View</a>
        </td>
      </tr>
    </tbody>
  </table>
  <pagination [total-items]="queryResult.totalItems" [page-size]="query.pageSize" (page-changed)="onPageChange($event)"></pagination>