<div class='main-nav'>
  <div class='navbar navbar-inverse navbar-static-top'>
      <div class='navbar-header'>
          <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
              <span class='sr-only'>Toggle navigation</span>
              <span class='icon-bar'></span>
              <span class='icon-bar'></span>
              <span class='icon-bar'></span>
          </button>
          <a class='navbar-brand' [routerLink]="['/']" >RealEstate</a>
      </div>
      <div class='navbar-collapse collapse'>
          <ul class='nav navbar-nav navbar-right'>
              <li [routerLinkActive]="['link-active']"  [routerLinkActiveOptions]="{exact: true}">
                  <a [routerLink]="['/realestates']">
                      <span class='glyphicon glyphicon-home'></span> Realestates
                  </a>
              </li>
              <li [routerLinkActive]="['link-active']">
                  <a [routerLink]="['/realestates/new']">
                      <span class='glyphicon glyphicon-plus'></span> New Realestate
                  </a>
              </li>
              <li [routerLinkActive]="['link-active']">
                  <a [routerLink]="['/counter']">
                      <span class='glyphicon glyphicon-education'></span> Counter
                  </a>
              </li>
              <li [routerLinkActive]="['link-active']">
                  <a [routerLink]="['/fetch-data']">
                      <span class='glyphicon glyphicon-th-list'></span> Fetch data
                  </a>
              </li>
          </ul>
      </div>
  </div>
</div>
